.stock_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stock_title {
  margin-top: 70px;
  width: 95%;
  /* border-top: 3px #ffdb6f dotted; */
  border-bottom: 3px #ffdb6f dotted;
  font-weight: 700;
  font-size: 30px;
  padding: 5px 0px;
}

.stock_list {
  width: 95%;
}

.stock_icon,
.stock {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  font-size: 20px;
  margin: 5px 0px;
}

/* stock_manage 시작 */
.stock_manage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 20%;
  height: 0%;
  visibility: hidden;
  transform: translateY(80%);
  transition: 0.5s;
  opacity: 0;
  z-index: 12;
}

.btn_manage {
  font-size: 40px;
  margin: 10px 0px;
  color: black;
}

@keyframes turn-around {
  0% {
    transform: rotateY(0deg) translateY(0px);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 5px;
  }
  50% {
    transform: rotateY(180deg) translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 10px;
  }
  100% {
    transform: rotateY(360deg) translateY(0px);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 5px;
  }
}

.fa-arrow-circle-up {
  position: absolute;
  bottom: 90px;
  box-shadow: gray 0px 20px 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  animation: turn-around 4s infinite;
}

.fa-arrow-circle-down {
  position: absolute;
  color: white;
  bottom: 85%;
  z-index: 12;
}

.management {
  background-color: white;
  width: 100%;
  height: 100%;
}

.management,
.fa-arrow-circle-up {
  z-index: 12;
}

.black_background {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  z-index: 11;
  display: none;
}

.management .management__title {
  font-size: 25px;
  font-weight: 700;
  border-bottom: 1px black solid;
  border-top: 5px #ffe699 solid;
  padding: 5px 0px;
}

.management__stocks {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.management__stocks h2 {
  width: 90%;
  text-align: start;
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0px;
}

.management__stocks .stocks_list {
  width: 90%;
}

.stocks_list .stock {
  margin: 5px 0px;
}

.management__stocks .stock .stock_stock {
  border: 1px black solid;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.management__stocks i {
  font-size: 20px;
  margin: 5px;
}

.lastorder_list .stock {
  align-items: center;
}

.lastorder_list .stock_price {
  border: 1px black solid;
}

.stock .fa-play-circle {
  font-size: 40px;
}

.side-bar-showing {
  visibility: visible;
  transform: translateY(0);
  height: 80%;
  opacity: 1;
}

.background-showing {
  position: absolute;
  top: 0;
  display: block;
}
